<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Архив курсов валют ПриватБанка, НБУ</div>
                <div class="card-body">
                    <form @submit.prevent="load">
                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <input type="date" v-model="date" class="form-control" :class="{ 'is-invalid': $v.date.$error }">
                                <div class="invalid-feedback" v-if="!$v.date.required">
                                    Выберите дату.
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <input type="text" v-model="maxCurs" class="form-control" :class="{ 'is-invalid': $v.maxCurs.$error }" placeholder="Максимальная стоимость валюты">
                                <div class="invalid-feedback" v-if="!$v.maxCurs.integer">
                                    Вводимые данные должны быть числом.
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-success" :disabled="spinner">
                                <span v-if="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Загрузить
                            </button>
                        </div>
                    </form>
                    <div v-if="errored" class="alert alert-danger mt-5" role="alert">
                        Ошибка загрузки данных!
                    </div>
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th scope="col">Базовая валюта</th>
                                <th scope="col">Валюта сделки</th>
                                <th scope="col">Курс продажи НБУ</th>
                                <th scope="col">Курс покупки НБУ</th>
                                <th scope="col">Курс продажи ПриватБанка</th>
                                <th scope="col">Курс покупки ПриватБанка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="exchangeRate in exchangeRates">
                                <td>{{exchangeRate.baseCurrency}}</td>
                                <td>{{exchangeRate.currency}}</td>
                                <td>{{exchangeRate.saleRateNB}}</td>
                                <td>{{exchangeRate.purchaseRateNB}}</td>
                                <td>{{exchangeRate.saleRate}}</td>
                                <td>{{exchangeRate.purchaseRate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
$.ajaxSetup({
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    }
});
const {
    required,
    integer
} = require('vuelidate/lib/validators')

export default {
    data() {
        return {
            date: null,
            maxCurs: null,
            exchangeRates: [],
            filteredExchangeRates: [],
            spinner: false,
            errored: false

        }
    },
    methods: {
        dataFilter(data) {
            if (this.maxCurs) {
                this.filteredExchangeRates = [];

                var dataFiltered = data.filter(this.filterByMaxPrice);

                return dataFiltered;
            } else {
                return data;
            }
        },
        filterByMaxPrice(item) {
            if (item.saleRateNB <= this.maxCurs || item.saleRateNB <= this.maxCurs || item.purchaseRateNB <= this.maxCurs || item.saleRate <= this.maxCurs || item.purchaseRate <= this.maxCurs) {
                return true;
            }
        },
        load() {
            this.errored = false;
            this.$v.maxCurs.$touch();
            if (this.$v.maxCurs.$anyError) {
                return;
            }
            this.$v.date.$touch();
            if (this.$v.date.$anyError) {
                return;
            }

            this.spinner = true;

            axios.post('/ajax', {
                    date: this.date
                })
                .then((response => {
                    console.log(response);
                    this.exchangeRates = [];
                    var dataFiltered = this.dataFilter(response.data.exchangeRate);
                    this.exchangeRates = dataFiltered;
                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.spinner = false;
                });
        }

    },
    mounted() {
        console.log('Component mounted.')
    },
    validations: {
        date: {
            required,
        },
        maxCurs: {
            integer,
        },
    }
}
</script>
